   SECTION A
   1)

In [3]:
def myfun() :
   a="Hello Python"
   print(a)
myfun()

Hello Python


2)

In [4]:
 a=int(input("Enter the value:"))
 b=int(input("Enter the value:"))
 sum = a+b
 print(sum)
 div=a/b
 print(div)

Enter the value:10
Enter the value:5
15
2.0

3)

In [5]:
base=float(input("Enter the base value :"))
height=float(input("Enter the height value:"))
area=0.5*base*height
print("area of triangle =" , area)

Enter the base value :5
Enter the height value:6
area of triangle = 15.0

4)

In [6]:
a=10
b=20
temp=a
a=b
b=temp
print("value of a=",a)
print("value of b=",b)

value of a= 20
value of b= 10

5)

In [7]:
  import random
  print(random.randint(0,9))

9

  SECTION B

1)

In [8]:
KM = int(input("Enter the kilometer value :"))
Miles = 0.621*KM
print( "Kilometer=" , KM,"Miles=",Miles)

Enter the kilometer value :2
Kilometer= 2 Miles= 1.242

2)

In [9]:
celsius=float(input("Enter the celsius value:"))
fahrenheit = (celsius*9/5) + 32
print("celsius=",celsius,"Fahrenheit=",fahrenheit)

Enter the celsius value:25
celsius= 25.0 Fahrenheit= 77.0

3)

In [15]:
import calendar
y=2022
m=8
print(calendar , month(y,m))

TypeError: ignored

4)

In [16]:
import cmath
a = 2
b = 2
c = 3
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print(sol1,sol2)

(-0.5-1.118033988749895j) (-0.5+1.118033988749895j)

5)

In [17]:
a=8
b=3
a=a+b
b=a-b
print("a=",a,"b=",b)

a= 11 b= 8

 SECTION C

 1)

In [21]:
 num = int(input("Enter the value:"))
 if num>0:
   print("positive number")
 elif num<0:
     print("negative number")
 else :
       print("zero")

Enter the value:2
positive number

2)

In [22]:
num = int(input("enter the value:"))
if num%2==0:
  print("it is even")
else :
  print("it is odd")

enter the value:8
it is even

3)

In [25]:
year = int(input("enter the year:"))
if (year % 400 == 0) and (year % 100 == 0) :
    print("this is a leap ")
elif (year % 4 ==0) and (year % 100 != 0) :
    print("this is a leap year")
else :
    print("this is not a leap year")

enter the year:2022
this is not a leap year

4)

In [29]:
num= int(input("enter the value:"))
if num > 1:
  for i in range(2, int(num/2)+1) :
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
    else:
       print(num, "is a prime number")
else:
    print(num, "is not a prime number")

enter the value:100
100 is not a prime number

5)

In [30]:
lower = int(input("enter the lower range:"))
upper = int(input("enter the upper range:"))
print("prime numbers between" , lower , "and" , upper , "are:")
for num in range (lower, upper + 1) :
  if num > 1 :
    for i in range(2, num) :
      if (num % i ) == 0 :
        break
    else:
      print(num)

enter the lower range:8
enter the upper range:10
prime numbers between 8 and 10 are:

 SECTION D

 1)

In [31]:
 def fact(n) :
   fact = 1
   for i in range(1,n+1) :
     fact = fact*i
     print(fact)
 fact(6)

1
2
6
24
120
720

2)

In [32]:
 num = int(input("multiplication table of:"))
 for i in range (1, 11) :
   print(num, 'x', i, '=', num*i)

multiplication table of:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

3)

In [33]:
a=0
b=1
print(a)
print(b)
for i in range(1,11):
  c=a+b
  a=b
  b=c
  print(c)

0
1
1
2
3
5
8
13
21
34
55
89

4)

In [34]:
num = int(input("enter a number:"))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum+= digit ** 3
  temp //= 10
if num == sum:
  print(num, "is an armstrong number")
else :
  print(num, "is not an armstrong number")

enter a number:20
20 is not an armstrong number

5)

In [37]:
lower = int(input("enter lower range:"))
upper = int(input("enter upper range:"))
for i in range(lower,upper+1):
    sum=0
    num=i
    while( i ! =0) :
        digit=i%10
    sum= sum+(digit*digit*digit)
    i=i//10
    if sum==num:
       print(num)

SyntaxError: ignored

6)

In [38]:
num= int(input("enter the value:"))
if num < 0:
  print("enter a positive number")
else:
  sum = 0
  while(num > 0):
    sum += num
    num -= 1
  print("the sum is", sum)

enter the value:38
the sum is 741

 SECTION E
 1)

In [39]:
array =[6,4,3,2,1]
sum= 0
for num in array :
    sum=sum+num
print(sum)

16

2)

In [40]:
a = [10,20,30,40]
max_element = a[0]
for i in range(len(a)) :
  if a[i] >max_element :
    max_element = a[i]
print (max_element)

40

3)

In [41]:
def rotatearray(a,d) :
  n=len(a)
  a[ :] = a[d:n]+a[0:d]
  return a
arr = [5,6,7,8,9,10]
print("rotated list is")
print(rotatearray (arr,2))

rotated list is
[7, 8, 9, 10, 5, 6]

4)

In [42]:
def splitarray(arr, n, k):
    for i in range(0,k) :
          x = arr[0]
          for j in range(0, n-1) :
                arr[j] = arr[j+1]
          arr[n-1] = x
arr = [1,2,3,4,5,6]
n = len(arr)
position = 3
splitarray (arr, n, position)
for  i in range(0,n) :
    print(arr[i], end = '')

456123

5)

In [48]:
def ismonotone(a) :
  n=len(a)
  if n==1:
      return True
  else:
      if all(a[i]> =a[i+1] for i in range(0,n-1)) or a[i]<= a[i+1] for i in range (0,n-1)) :
           return True
  else :
           return False

SyntaxError: ignored

SECTION F
1)

In [50]:
def sumlist(list) :
     sum =0
     for i in range(len(list)):
         sum = sum+list[i]
     return sum
list = [20,40,60]
print(list)
print("sum of list :" ,sumlist(list))

[20, 40, 60]
sum of list : 120

2)

In [51]:
def mul_list(list) :
    product = 1
    for i in list:
      product = product* i
      return product
list1 = [1,2,3,4]
print(list1)
print("product;")
print(mul_list(list1))

[1, 2, 3, 4]
product;
1

3,4)

In [52]:
a=(6,10,12,3,4)
print(a)
max_number = max(a)
print(max_number)
min_number=min(a)
print(min_number)

(6, 10, 12, 3, 4)
12
3

5)

In [53]:
list1 = [90,70,60,60]
new_list = set(list1)
new_list.remove(max(new_list))
print(max(new_list))

70

6)

In [58]:
def largestfunc(list1, N) :
  new_list = []
  for i in range(0, N) :
    max1 = 0
    for j in range(len(list1)) :
        if list1[j] > max1:
                max1 = list1[j];
    list1.remove(max1) ;
    new_list.append(max1)
    print("largest numbers =", new_list)
my_list =[14,28,30,75,90,80]
N =2 
largestfunc(my_list, N)

largest numbers = [90]
largest numbers = [90, 80]

7)

In [60]:
list1 = [10,20,40,30,5]
for num in list1:
    if num % 2 == 0:
      print(num,end=" ")

10 20 40 30

8)

In [62]:
list1 =[10,20,30,40,50]
for num in list1:
    if num % 2 ! = 0:
        print(num, end=" ")

SyntaxError: ignored

9)

In [63]:
test_list=[5,10,15,[],25,30,35,[]]
print("the orignal list is :" + str(test_list is))
while [] in test_list :
   test_list.remove([])
print("list after empty list removal is:" + str(test_list))

SyntaxError: ignored

10)

In [64]:
def cloning (a1) :
  li_copy = a1[:]
  return li_copy
a1 = [5,10,15,20]
a2 = cloning(a1)
print("orignal list:" , a1)
print("after cloning:", a2)

orignal list: [5, 10, 15, 20]
after cloning: [5, 10, 15, 20]

11)

In [65]:
sample_list = ["2","4","6","8","10"]
print(sample_list.count("2"))

1